body {
  background-image: url('/grid.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h2 {
    font-family: 'Geo', sans-serif;
    color: white;
    text-align: center;
}

h3 {
    color: white;
    font-family: 'Gloria Hallelujah';
    font-size: 1rem;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
 
}

input:focus {
  outline:none;
}

.month {
  text-align: center;
}

.habitbutton {
  background-color:transparent;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:1px 1px;
	text-decoration:none;
}
.habitbutton:hover {
	background-color:transparent;
}
.habitbutton:active {
	position:relative;
	top:1px;
}


td {
  font-family: 'Gloria Hallelujah';
  text-align: left;
}

.goalslist {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

#todoinput {
  background-color: #B5CEE3;
}

#green {
  background-color: #A5B376;
}

.graytext {
  color: white;
  font-family: 'Gloria Hallelujah';
  font-size: 2rem;
}
.gratinput {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.submit {
	background-color:transparent;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:5px 5px;
	text-decoration:none;
}
.submit:hover {
	background-color:transparent;
}
.submit:active {
	position:relative;
	top:1px;
}

.todo {
  align-items: center;
  border-radius: 3px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}



.columns > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  
}
.columns > ul > li {
  border: none;
    
}

.innergrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:4px;
    grid-auto-rows: minmax(60px, auto);
  }

  .date {
    grid-column: 1 / 4;
    grid-row: 2/4;
    background-color: #008EB0;
    border: 1px solid black; 
    padding: 0px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    position: relative;
    top: 1rem;  
  }

  .habit1 {
    grid-column: 1 / 4;
    grid-row: 6/8;
    background-color: #F58334;
    border: 1px solid black; 
    box-shadow: 10px 10px 5px grey;
    border-radius: 40px;
    text-align: center;
  }


  .habit2 {
    grid-column: 1 / 4;
    grid-row: 9/11;
    background-color: #C898AE;
    border: 1px solid black; 
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    border-radius: 40px;
  }

.banner {
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
  overflow: hidden;
}

  .listheading {
    grid-column: 1 / 5;
    grid-row: 3 / 7;
    background-color: #B5CEE3;
    padding: 1rem;
    border: 1px solid black; 
    box-shadow: 10px 10px 5px grey;
    text-align: center;
  }
  
.doggo {
  grid-column: 3/4;
  grid-row: 8/11;
  text-align:center;
}
  
  .goal {
    grid-column: 2 / 5;
    grid-row: 2/5;
    background-color: #A5B376;
    border: 1px solid black; 
    box-shadow: 10px 10px 5px grey;
    border-radius: 40px;
    text-align: center;
    color: white;
    padding-bottom: 0;
  }
  
  .weatherheading {
    grid-column: 2 / 5;
    grid-row: 6/9;
    background-color: #FEC84E;
    border: 1px solid black; 
    box-shadow: 10px 10px 5px grey;
    text-align: center;
   
  }
  



